# Andy McRae

## HerosOfPymoli

In [1]:
# grabbing pandas
import pandas as pd
# and i guess os to make work on other systems
import os

In [2]:
file = os.path.join('Resources','purchase_data.csv')
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#### Total Number of Players

In [3]:
# I'm using nunique instead of count because of repeated SN's
total_players = purchase_df['SN'].nunique()

In [4]:
# making summary table
total_players_dict = {
    'Total Players': [total_players]
}

total_players_summary = pd.DataFrame(total_players_dict)
total_players_summary

   Total Players
0            576

#### Purchasing Analysis (Total)

In [5]:
# total unique items
total_unique_items = purchase_df['Item Name'].nunique()
total_unique_items

179

In [6]:
# Average purchase price
avg_price = purchase_df['Price'].mean()
avg_price

3.050987179487176

In [7]:
# total number of purchases
total_num_purchases = purchase_df['Purchase ID'].count()
total_num_purchases

780

In [8]:
# Total Revenue
total_revenue = purchase_df['Price'].sum()
total_revenue

2379.77

In [9]:
# make a summary table
purchasing_total_dict = {
    'Number of Unique Items': [total_unique_items],
    'Average Price': avg_price,
    'Number of Purchases': total_num_purchases,
    'Total Revenue': total_revenue
}

purchasing_total_summary = pd.DataFrame(purchasing_total_dict)
purchasing_total_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

#### Gender Demographics

In [10]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# creating groupby object on gender
purchase_group_gender = purchase_df.groupby('Gender')
purchase_group_gender

In [12]:
# count by gender, using nunique to account for repeat users
count_gender = purchase_group_gender['SN'].nunique()
count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
# percent by gender
percent_gender = count_gender / total_players * 100
percent_gender

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [14]:
# make gender demographics summary table
gender_demo_dict = {
    'Total Count': count_gender,
    'Percentage of Players': percent_gender
}
gender_index = purchase_df['Gender'].unique()

gender_demo_summary = pd.DataFrame(gender_demo_dict, index=gender_index)
gender_demo_summary = gender_demo_summary.sort_values(by='Total Count', ascending=False)
gender_demo_summary

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

#### Purchasing Analysis (Gender)

In [15]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
# purchase count by gender
purchase_count_gender = purchase_group_gender['Price'].count()
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [17]:
# average purchase price
avg_purchase_price = purchase_group_gender['Price'].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
# total purchase value
total_purchase_value = purchase_group_gender['Price'].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
# Average Purchase Total per Person by Gender
avg_purchase_total_person = total_purchase_value / count_gender
avg_purchase_total_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [20]:
# lets make a summary table
purchasing_gender_dict = {
    'Purchase Count': purchase_count_gender,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Average Total Purchase per Person': avg_purchase_total_person
}
# attempting to add name to index
named_gender_index = purchase_group_gender['Gender'].unique()
named_gender_index = pd.Series(named_gender_index)
named_gender_index = named_gender_index.str[0]

purchasing_gender_summary = pd.DataFrame(purchasing_gender_dict, index=named_gender_index)
purchasing_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

#### Age Demographics

In [21]:
# make copy of df to make bins in
age_demo_df = purchase_df.copy()
age_demo_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# add bins <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
# i figure nobody is over 200 years old
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_demo_df['Age Group'] = pd.cut(age_demo_df['Age'],age_bins, labels=age_labels, include_lowest=True)
age_demo_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
# now make a groupby object by age group
age_group = age_demo_df.groupby('Age Group')
age_group

In [24]:
# number of players by age group
num_player_age = age_group['SN'].nunique()
num_player_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [25]:
# percent of players by age group
percent_player_age = num_player_age / total_players * 100
percent_player_age

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [26]:
# Making a Summary Table
age_demo_dict = {
    'Total Count': num_player_age,
    'Percentage of Players': percent_player_age
}

age_demo_summary = pd.DataFrame(age_demo_dict, index=age_labels)
age_demo_summary

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

#### Purchasing Analysis (Age)

In [27]:
age_demo_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
# Purchase count
purchase_count_age = age_group['Item Name'].count()
purchase_count_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item Name, dtype: int64

In [29]:
# average purchase price
avg_purchase_price_age = age_group['Price'].mean()
avg_purchase_price_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [30]:
# total purchase value
total_purchase_age = age_group['Price'].sum()
total_purchase_age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [31]:
# average total purchase per person
avg_tot_pur_age = total_purchase_age / num_player_age
avg_tot_pur_age

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [32]:
# lets make a summary table. Yay!
purchase_age_dict = {
    'Purchase Count': purchase_count_age,
    'Average Purchase Price': avg_purchase_price_age,
    'Total Purchase Value': total_purchase_age,
    'Avg Total Purchase per Person': avg_tot_pur_age
}

purchase_age_summary = pd.DataFrame(purchase_age_dict, index=age_labels)
purchase_age_summary.index.name = 'Age Ranges'
purchase_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

#### Top Spenders

In [33]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
# making a groupby on SN
player_group = purchase_df.groupby('SN')
player_group

In [35]:
# make index
sn_index = player_group['SN'].unique()
sn_index = pd.Series(sn_index)
sn_index = sn_index.str[0]

In [36]:
# purchase count
pur_per_play = player_group['Item Name'].count()
pur_per_play.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Item Name, dtype: int64

In [37]:
# average purchase price
avg_pur_price_play = player_group['Price'].mean()
avg_pur_price_play.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [38]:
# total purchase value
tot_pur_value_play = player_group['Price'].sum()
tot_pur_value_play.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [39]:
# time to make a summary table
top_spenders_dict = {
    'Purchase Count': pur_per_play,
    'Average Purchase Price': avg_pur_price_play,
    'Total Purchase Value': tot_pur_value_play
}

top_spenders_summary = pd.DataFrame(top_spenders_dict, index=sn_index)
top_spenders_summary = top_spenders_summary.sort_values(by='Total Purchase Value', ascending=False)
top_spenders_summary.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10