# Andy McRae

## HerosOfPymoli

In [1]:
# grabbing pandas
import pandas as pd
# and i guess os to make work on other systems
import os

In [2]:
file = os.path.join('Resources','purchase_data.csv')
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#### Total Number of Players

In [3]:
# I'm using nunique instead of count because of repeated SN's
total_players = purchase_df['SN'].nunique()

In [4]:
# making summary table
total_players_dict = {
    'Total Players': [total_players]
}

total_players_summary = pd.DataFrame(total_players_dict)
total_players_summary

   Total Players
0            576

#### Purchasing Analysis (Total)

In [5]:
# total unique items
total_unique_items = purchase_df['Item Name'].nunique()
total_unique_items

179

In [6]:
# Average purchase price
avg_price = purchase_df['Price'].mean()
avg_price

3.050987179487176

In [7]:
# total number of purchases
total_num_purchases = purchase_df['Purchase ID'].count()
total_num_purchases

780

In [8]:
# Total Revenue
total_revenue = purchase_df['Price'].sum()
total_revenue

2379.77

In [9]:
# make a summary table
purchasing_total_dict = {
    'Number of Unique Items': [total_unique_items],
    'Average Price': avg_price,
    'Number of Purchases': total_num_purchases,
    'Total Revenue': total_revenue
}

purchasing_total_summary = pd.DataFrame(purchasing_total_dict)
purchasing_total_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

#### Gender Demographics

In [10]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# creating groupby object on gender
purchase_group_gender = purchase_df.groupby('Gender')
purchase_group_gender

In [12]:
# count by gender, using nunique to account for repeat users
count_gender = purchase_group_gender['SN'].nunique()
count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
# percent by gender
percent_gender = count_gender / total_players * 100
percent_gender

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [14]:
# make gender demographics summary table
gender_demo_dict = {
    'Total Count': count_gender,
    'Percentage of Players': percent_gender
}
gender_index = purchase_df['Gender'].unique()

gender_demo_summary = pd.DataFrame(gender_demo_dict, index=gender_index)
gender_demo_summary = gender_demo_summary.sort_values(by='Total Count', ascending=False)
gender_demo_summary

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

#### Purchasing Analysis (Gender)

In [15]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
# purchase count by gender
purchase_count_gender = purchase_group_gender['Price'].count()
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [17]:
# average purchase price
avg_purchase_price = purchase_group_gender['Price'].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
# total purchase value
total_purchase_value = purchase_group_gender['Price'].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
# Average Purchase Total per Person by Gender
avg_purchase_total_person = total_purchase_value / count_gender
avg_purchase_total_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [20]:
# lets make a summary table
purchasing_gender_dict = {
    'Purchase Count': purchase_count_gender,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Average Total Purchase per Person': avg_purchase_total_person
}
# attempting to add name to index
named_gender_index = purchase_group_gender['Gender'].unique()
named_gender_index = pd.Series(named_gender_index)
named_gender_index = named_gender_index.str[0]

purchasing_gender_summary = pd.DataFrame(purchasing_gender_dict, index=named_gender_index)
purchasing_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

#### Age Demographics

In [21]:
# make copy of df to make bins in
age_demo_df = purchase_df.copy()
age_demo_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
# add bins <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
# i figure nobody is over 200 years old
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_demo_df['Age Group'] = pd.cut(age_demo_df['Age'],age_bins, labels=age_labels, include_lowest=True)
age_demo_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
# now make a groupby object by age group
age_group = age_demo_df.groupby('Age Group')
age_group

In [24]:
# number of players by age group
num_player_age = age_group['SN'].nunique()
num_player_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [25]:
# percent of players by age group
percent_player_age = num_player_age / total_players * 100
percent_player_age

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [26]:
# Making a Summary Table
age_demo_dict = {
    'Total Count': num_player_age,
    'Percentage of Players': percent_player_age
}

age_demo_summary = pd.DataFrame(age_demo_dict, index=age_labels)
age_demo_summary

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333