# Andy McRae

## PyCitySchools

In [1]:
# import pandas
import pandas as pd
import os

In [2]:
# get files
school_file = os.path.join('Resources','schools_complete.csv')
student_file = os.path.join('Resources','students_complete.csv')

In [3]:
# creating a dataframe for school csv
school_df = pd.read_csv(school_file)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# creating dataframe for student csv
student_df = pd.read_csv(student_file)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# calculating number of TOTAL SCHOOLS
total_schools = school_df['school_name'].nunique()
print(total_schools)

15

In [6]:
# calculating number of TOTAL STUDENTS
total_students = student_df['student_name'].nunique()
print(total_students)

32715

In [7]:
# calculating TOTAL BUDGET
total_budget = school_df['budget'].sum()
print(total_budget)

24649428

In [8]:
# calculating AVERAGE MATH SCORE
avg_math_score = student_df['math_score'].mean()
print(avg_math_score)

78.98537145774827

In [9]:
# calculating AVERAGE READING SCORE
avg_reading_score = student_df['reading_score'].mean()
print(avg_reading_score)

81.87784018381414

In [10]:
#### Passing is defined as a grade of 70 or greater

In [11]:
# calculating the % PASSING MATH
passing_math_df = student_df.loc[student_df['math_score'] >= 70, :]
# passing_math_df.head()
passed_math = passing_math_df['math_score'].count()
# print(passed_math)
total_math = student_df['math_score'].count()
# print(total_math)
percent_pass_math = (passed_math / total_math) * 100
print(percent_pass_math)

74.9808526933878

In [12]:
# calculating the % PASSING READING
passing_reading_df = student_df.loc[student_df['reading_score'] >= 70, :]
# passing_reading_df.head()
passed_reading = passing_reading_df['reading_score'].count()
# print(passed_reading)
total_reading = student_df['reading_score'].count()
# print(total_reading)
percent_pass_reading = (passed_reading / total_reading) * 100
print(percent_pass_reading)

85.80546336482001

In [13]:
# calculating the % PASSING BOTH MATH AND READING

# making a dataframe of only students that are passing both math and reading
passing1_df = student_df.loc[student_df['math_score'] >= 70, :]
passing1_df.head()
passing_df = passing1_df.loc[student_df['reading_score'] >= 70, :]
passing_df.head()

passed = passing_df['math_score'].count()
# print(passed)
total = student_df['math_score'].count()
# print(total)
overall_passing = (passed / total) * 100
print(overall_passing)

65.17232575950983

In [14]:
# district summary
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': total_students,
    'Total Budget': total_budget,
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': percent_pass_math,
    '% Passing Reading': percent_pass_reading,
    '% Overall Passing': overall_passing
})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,32715,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
# adding formatting to Total Students and Total budget
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"32,715","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326